@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

.Navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,64,82,1) 0%, rgba(6,22,56,1) 73%, rgba(5,62,80,1) 97%, rgba(0,84,101,1) 100%);
  display: block;
}

.text-style{
  text-align: center;
  color:white;
  font-family: Zen Dots;
}


.button{
display:inline-block;
padding:0.35em 1.2em;
border:0.1em solid #FFFFFF;
margin:0 0.3em 0.3em 0;
text-align: center;
margin-top: 25px;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family:Zen Dots;
font-weight:300;
color:#FFFFFF;
transition: all 0.2s;


}

.button:hover{
color:#000000;
background-color:#FFFFFF;
}



#text_div {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 10px;
}

.center_all {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: white;
}


html, body, #root, .App {
  height: 100%;
  background-color: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}