@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

.Navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,64,82,1) 0%, rgba(6,22,56,1) 73%, rgba(5,62,80,1) 97%, rgba(0,84,101,1) 100%);
  display: block;
}

.text-style{
  text-align: center;
  color:white;
  font-family: Zen Dots;
}
